.example-spacer {
  flex: 1 1 auto;
}

.demo-section + .demo-section {
  margin-top: 16px;
}

.mat-toolbar {
  background-color: black; /* Cor de fundo preta */
  color: white; /* Cor do texto */
}

.example-icon {
  color: white; /* Cor dos ícones */
}

a {
  cursor: pointer;
}

img {
  width: 88px;
}

button.user-detail-button {
  background-color: #000000; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
}

button.user-detail-button:hover {
  background-color: #4a4a4d;
}
