.popup-content {

    font-size: 15px;
    color: #555;
    margin-bottom: 15px;
  
    font-weight: normal; 
    display: block; 
  
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    position: fixed; 
    background-color: #ffffff;
    padding: 32px;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    font-family: "Lato", sans-serif;
    overflow-y: auto; 
  }
  
  h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    margin-top: 15px;
  }
  
  .two span:first-child {
    justify-self: start;
  }
  
  .two span:last-child {
    justify-self: center; 
  }
  
  .popup-bnt {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .bnt-cancelar,
  .bnt-editar {
    height: 40px;
    width: 100px;
    margin: 25px 0;
    color: #555;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
  }
  
  .bnt-cancelar {
    background: #CCCCCC;
  }
  
  .bnt-editar {
    background: #FFD700;
  }
  
  .data-info {
    font-weight: normal; 
    align-self:flex-end; 
  }