/* Estilizando a toolbar */
.mat-toolbar {
  background-color: #ffffff; /* Fundo branco */
  color: #000000; /* Texto preto */
  font-size: 20px; /* Tamanho do texto */
  padding: 12px 24px; /* Espaçamento interno */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

/* Estilizando o título da toolbar */
.mat-toolbar-row .toolbar-title {
  flex: 1; /* Expandir para ocupar o espaço disponível */
  text-align: center; /* Centralizar o texto */
}

/* Estilizando os botões na toolbar */
.mat-toolbar-row button.mat-icon-button {
  color: #ffffff; /* Cor do ícone */
  background-color: #251e33; /* Fundo roxo escuro */
  margin-left: 16px; /* Espaçamento à esquerda */
}

/* Estilizando os botões na toolbar no hover */
.mat-toolbar-row button.mat-icon-button:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Fundo branco transparente */
  border-radius: 50%; /* Borda arredondada */
}
