<div class="navbar-brand">
  <span>Cadastro de Camisetas</span>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Nome</mat-label>
          <input matInput type="text" formControlName="nome" #inputNome/>
          <mat-error *ngIf="formGroup.get('nome')
                                   && formGroup.get('nome')?.invalid
                                   && formGroup.get('nome')?.touched">
            O nome é obrigatorio.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Descricao</mat-label>
          <input matInput type="text" formControlName="descricao">
          <mat-error *ngIf="formGroup.get('descricao')
                                   && formGroup.get('descricao')?.invalid
                                   && formGroup.get('descricao')?.touched">
            A descrição é obrigatoria.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Estoque</mat-label>
          <input matInput type="text" formControlName="estoque">
          <mat-error *ngIf="formGroup.get('estoque')
                                   && formGroup.get('estoque')?.invalid
                                   && formGroup.get('estoque')?.touched">
            O estoque é obrigatorio.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Preço</mat-label>
          <input matInput type="text" formControlName="preco" #inputPreco/>
          <mat-error *ngIf="formGroup.get('preco')
                                   && formGroup.get('preco')?.invalid
                                   && formGroup.get('preco')?.touched">
            O preço é obrigatório.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Estampa</mat-label>
          <input matInput type="text" formControlName="estampa">
          <mat-error *ngIf="formGroup.get('estampa')
                                   && formGroup.get('estampa')?.invalid
                                   && formGroup.get('estampa')?.touched">
            A estampa é obrigatorio.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Tecido</mat-label>
          <input matInput type="text" formControlName="tecido">
          <mat-error *ngIf="formGroup.get('tecido')
                                   && formGroup.get('tecido')?.invalid
                                   && formGroup.get('tecido')?.touched">
            O tecido é obrigatorio.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Tamanho</mat-label>
          <mat-select formControlName="tamanho" id="tamanho-id">
            <mat-option *ngFor="let tamanho of tamanhos" [value]="tamanho.value">
              {{ tamanho.label }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formGroup.get('tamanho')?.getError('apiError')">
            {{ formGroup.get('tamanho')?.getError('apiError') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Sexo</mat-label>
          <mat-select formControlName="sexo" id="sexo-id">
            <mat-option *ngFor="let sexo of sexos" [value]="sexo.value">
              {{ sexo.label }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formGroup.get('sexo')?.getError('apiError')">
            {{ formGroup.get('sexo')?.getError('apiError') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Fornecedor</mat-label>
          <mat-select formControlName="fornecedor">
            @for (fornecedor of fornecedores; track fornecedor.id) {
              <mat-option [value]="fornecedor.id">
                {{ fornecedor.nome }}
              </mat-option>
            }
          </mat-select>

        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Tipo Camiseta</mat-label>
          <mat-select formControlName="tipoCamiseta">
            @for (tipoCamiseta of tipoCamisetas; track tipoCamiseta.id) {
              <mat-option [value]="tipoCamiseta.id">
                {{ tipoCamiseta.nome }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Marca</mat-label>
          <mat-select formControlName="marca">
            @for (marca of marcas; track marca.id) {
              <mat-option [value]="marca.id">
                {{ marca.nome }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label for="coresInput">Cores</mat-label>
          <input matInput type="text" id="coresInput" #inputCor>
          <!-- Se desejar, adicione validação para o campo de cores -->
        </mat-form-field>

        <!-- Botão para adicionar cor à lista -->
        <button mat-raised-button color="primary" (click)="adicionarCor(inputCor.value); inputCor.value = ''"
                type="button">
          Adicionar Cor
        </button>

        <!-- Lista de cores adicionadas -->
        <div *ngIf="(formGroup.get('cores')?.value).length">
          <p>Lista de Cores Adicionadas:</p>
          <ul>
            <li *ngFor="let cor of formGroup.get('cores')?.value">
              {{ cor }}
              <button mat-raised-button color="warn" (click)="removerCor(cor)">
                Remover
              </button>
            </li>
          </ul>
        </div>

        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Imagem da Camiseta</mat-label>
          <input type="file" (change)="carregarImagemSelecionada($event)" hidden #fileInput>
          <input matInput [value]="fileName" readonly>

          <button mat-icon-button matSuffix (click)="fileInput.click()">
            <mat-icon>folder_open</mat-icon>
          </button>
        </mat-form-field>

        <div *ngIf="imagePreview" class="container responsive-grid">
          <mat-card>

            <img mat-card-image [src]="imagePreview">

            <mat-card-title class="centered-text"> {{ inputNome.value }}</mat-card-title>

            <br/>
            <mat-card-content class="centered-text"> {{ inputPreco.value }}</mat-card-content>

            <mat-card-actions class="centered-text">
              <button mat-button color="primary">Ver mais ...</button>
            </mat-card-actions>

            <mat-card-footer>
              <button mat-flat-button color="accent"
                      style="width: 100%; padding: 16px;">Adicionar ao carrinho
              </button>
            </mat-card-footer>
          </mat-card>
        </div>

      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="salvar()" [disabled]="formGroup.invalid">
        Salvar
      </button>
      <button mat-raised-button *ngIf="formGroup?.get('id')?.value" color="warn" (click)="excluir()"
              [disabled]="formGroup.invalid">
        Excluir
      </button>
      <button mat-raised-button routerLink="admin/camisetas/list">
        Cancelar
      </button>

    </mat-card-actions>
  </mat-card>
</div>
