/* Estilos padrão para mat-form-field */
.full-width-input {
    width: 100%; /* Largura total */
    margin-bottom: 3px; /* Espaçamento na parte inferior do campo de entrada */
    padding: 5px 1px; /* Ajusta o padding interno do campo */
  }
  
  /* Estilos para mat-card */
  mat-card {
    width: 90%; /* Largura total */
    max-width: 700px; /* Defina o máximo de largura desejado */
    margin: 2rem auto; /* Centraliza o cartão */
    border: 1px solid #e7e2e2; /* Adiciona uma borda sólida com cor cinza */
    border-radius: 4px; /* Adiciona bordas arredondadas */
    font-size: smaller; /* Define o tamanho da fonte para menor */
  }
  
  /* Estilos para mat-card-actions */
  mat-card-actions {
    display: flex;
    justify-content: flex-end; /* Alinha os itens à direita */
  }
  
  .form-container {
    padding: 1rem; /* Adiciona padding ao redor do formulário */
    margin-top: 3rem; /* Adiciona margem superior para separá-lo de outros elementos */
  }
  
  
  /* Estilos para .centered-toolbar */
  .centered-toolbar {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    font-size: 1.5rem; /* Tamanho da fonte maior */
  }
  
  /* Estilos para botão mat-raised-button */
  button[mat-raised-button] {
    width: auto; /* Largura automática */
    padding: 8px 16px; /* Ajusta o padding do botão */
    background-color:  #251e33; /* Cor de fundo azul */
    color: #ffffff; /* Cor do texto branco */
    border: none; /* Remove a borda */
    border-radius: 4px; /* Adiciona bordas arredondadas */
    cursor: pointer; /* Altera o cursor para apontador */
    transition: background-color 0.3s; /* Adiciona uma transição suave à mudança de cor de fundo */
  }
  
  button[mat-raised-button]:hover {
    background-color: #ffffff; /* Cor de fundo alterada no hover */
    color:  #251e33; 
  }
  
  button[mat-raised-button]:not(:last-child) {
    margin-right: 1rem; /* Adiciona margem à direita de todos os botões, exceto o último */
  }
  
  
  /* Estilos para a barra lateral */
  .sidebar {
    height: 100%;
    width: 200px; /* Alterado para 200px */
    position: fixed;
    top: 0;
    left: 0;
    background-color: #211a30;
    color: #fff;
  }
  
  /* Estilos para .sidebar-header */
  .sidebar-header {
    padding: 20px;
    border-bottom: 1px solid #444;
  }
  
  /* Estilos para .navbar-brand */
  .navbar-brand {
    font-size: 15px;
    text-align: center; /* Centraliza horizontalmente */
    line-height: 50px; /* Ajusta a altura da linha para centralizar verticalmente */
  }
  .navbar-brand2 {
    font-size: 20px;
    text-align: center; /* Centraliza horizontalmente */
    line-height: 3px; /* Ajusta a altura da linha para centralizar verticalmente */
  }
  
  
  /* Estilos para .navbar-nav */
  .navbar-nav {
    padding: 20px;
  }
  
  /* Estilos para .navbar-nav ul */
  .navbar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Estilos para .navbar-nav ul li */
  .navbar-nav ul li {
    margin-bottom: 15px;
  }
  
  /* Estilos para .navbar-nav ul li a */
  .navbar-nav ul li a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
  }
  
  /* Estilos para .navbar-nav ul li a i */
  .navbar-nav ul li a i {
    margin-right: 10px;
  }
  .sidebar-header {
    background-color: #251e33; /* Cor de fundo roxa */
    padding: 30px 2px; /* Espaçamento interno */
  }
  
  .navbar-brand {
    font-size: 20px; /* Tamanho da fonte */
    color: #251e33; /* Cor do texto branco */
  }
  