<nav class="admin-menu">
  <ul>
    <li><span class="menu-title">Painel Administrativo</span></li>
    <li><a routerLink="/admin/home"><mat-icon>home</mat-icon>Home</a></li>
    <li>
      <a><mat-icon>people</mat-icon>Usuários</a>
      <ul class="submenu">
        <li><a routerLink="/usuarios/list"><mat-icon>list</mat-icon>Todos os Usuários</a></li>
      </ul>
    </li>
    <li>
      <a><mat-icon>shopping_bag</mat-icon>Produtos</a>
      <ul class="submenu">
        <li><a routerLink="/camisetas/list"><mat-icon>list</mat-icon>Todos os Produtos</a></li>
        <li><a routerLink="/camisetas/new"><mat-icon>add_circle</mat-icon>Adicionar Produtos</a></li>
      </ul>
    </li>
    <li>
      <a><mat-icon>redeem</mat-icon>Cupom</a>
      <ul class="submenu">
        <li><a routerLink="/cupons/list"><mat-icon>list</mat-icon>Todos os Cupons</a></li>
        <li><a routerLink="/cupons/new"><mat-icon>add_circle</mat-icon>Adicionar Cupom</a></li>
      </ul>
    </li>
    <li>
      <a><mat-icon>store</mat-icon>Fornecedores</a>
      <ul class="submenu">
        <li><a routerLink="/fornecedores/list"><mat-icon>list</mat-icon>Todos os Fornecedores</a></li>
        <li><a routerLink="/fornecedores/new"><mat-icon>add_circle</mat-icon>Adicionar Fornecedor</a></li>
      </ul>
    </li>
    <li>
      <a><mat-icon>local_shipping</mat-icon>Transportadoras</a>
      <ul class="submenu">
        <li><a routerLink="/transportadoras/list"><mat-icon>list</mat-icon>Todas as Transportadoras</a></li>
        <li><a routerLink="/transportadoras/new"><mat-icon>add_circle</mat-icon>Adicionar Transportadora</a></li>
      </ul>
    </li>
  </ul>
</nav>
