<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side" opened>

    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-list-item routerLink="/admin/camisetas">
        <mat-icon>style</mat-icon>
        <span>Controle de Camisetas</span>
      </a>
      <a mat-list-item routerLink="/admin/cupons">
        <mat-icon>card_giftcard</mat-icon>
        <span>Controle de Cupons</span>
      </a>
      <a mat-list-item routerLink="/admin/fornecedores">
        <mat-icon>store</mat-icon>
        <span>Controle de Fornecedores</span>
      </a>
      <a mat-list-item routerLink="/admin/transportadoras">
        <mat-icon>local_shipping</mat-icon>
        <span>Controle de Transportadoras</span>
      </a>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar color="primary">
      <span>Administração</span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
